/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* font-family: 'Source Sans Pro', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Sansita', sans-serif;
*/

/*Mobile Styles*/
@media only screen and (min-width:280px) and (max-width: 767px) {
/*Header*/
body, html {
 font-family: 'Source Sans Pro', sans-serif;
 font-size: 16px;
 color: #222;
 background-color: #eee;
}

a {
 font-weight: 700;
 color: #23a4cc;
 text-decoration: none;
}

p {
 font-size: 1em;
 line-height: 1.4;
 font-weight: 400;
}

img {
 width: 100%;
}

h1, h2, h3, h4 {
 font-weight: 700;
}

h1 {
 font-size:1.4em;
 line-height: 1.6;
}

h2 {
 font-size: 1em;
}

figure {
 margin: 0;
}

.logo {
  width:100%;
  margin: 0 auto;
  text-align: center;
}

.main-header {
  width: 100%;
  margin: auto;
  background-color: #ddd;
}

main {
 width: 96%;
 padding: 0 2%;
 margin: auto;
 clear: both;
}

nav {
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

nav ul li {
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 0.93em;
}

nav ul a {
 text-transform: uppercase;
 color: #333;
 font-size: 1.125em;
}

i {
  padding-right: 5px;
}

/*FAQ*/
.faqs-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    padding-top: 10px;
}


/*Footer*/
footer {
  border-top: 1px solid #ccc;
 width: 100%;
 margin: auto 0;
 padding-top: 20px;
 margin-top: 20px;
 clear: both;
 text-align: center;
}

.footer-logo img {
  width: 50%;
  text-align: center;
}
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media screen and (min-width: 768px) and (max-width: 939px){
     /* Tablet styles here! */
     body, html {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 16px;
      color: #222;
      background-color: #eee;
     }

     a {
      font-weight: 700;
      color: #23a4cc;
      text-decoration: none;
     }

     p {
      font-size: 1em;
      line-height: 1.4;
     }

     img {
      width: 100%;
     }

     h1, h2, h3, h4 {
      font-weight: 700;
     }

     h1 {
      font-size:1.4em;
      line-height: 1.6;
        padding-left: 2%;
     }

     h2 {
      font-size: 1.2em;
     }

     figure {
      margin: 0;
     }

     /* HEADER ================================ */
     .main-header {
       width: 100%;
       margin: auto;
       background-color: #ddd;
     }

     .figure {
       margin: 0;
     }

     /* HEADER ================================ */
   .main-header {
   width: 100%;
   margin: auto;
   background-color: #ddd;
   padding: 0;
   }

   .main-header .header-wrapper {
   width: 94%;
   max-width: 960px;
   margin: 0;
   clear: both;
   }

   .logo {
   width: 50%;
   float: left;
   margin: 0;
   padding-left: 2%;
   }

   .logo img {
   max-width: 303px;
   margin: 0;
   }

   nav {
   width: 48%;
   float: left;
   margin: 0 auto;
   text-align: center;
   }

   nav ul {
   list-style: none;
   padding: 20px 0;
   text-align: center
   }

   nav ul li {
   display: inline;
   padding: 0 2%;
   border: none;
   position: relative;
   }

   nav ul li a {
   font-size: 1em;
   text-transform: uppercase;
   color: #333;
   }

   i {
     padding-right: 5px;
   }

.faqs-item {
    padding-left: 2%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.faqs-last-item {
    padding-left: 2%;
    padding-bottom: 20px;
}

.faqs-item h3 {
  padding-top: 20px;
}
   /* FOOTER ================================ */
   footer {
   border-top: 1px solid #ccc;
   width: 100%;
   clear:both;
   margin: auto;
   text-align: center;
   }

   .footer-img {
     padding-top: 20px;
     width: 50%;
     margin: auto;
   }
 }


 @media screen and (min-width: 940px){
   /* Computer styles here! */
   body, html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #222;
    background-color: #eee;
   }

   a {
    font-weight: 700;
    color: #23a4cc;
    text-decoration: none;
   }

   p {
    font-size: 16px;
    line-height: 1.8em;
   }

   img {
    width: 100%;
   }

   h1, h2, h3, h4 {
    font-weight: 700;
   }

   h1 {
    font-size:30px;
    line-height: 1.6;
    padding-left: 3%;
   }

   h2 {
    font-size: 21px;
    margin: 0;
    padding-bottom: 10px;
   }

   figure {
    margin: 0;
   }

   /* HEADER ================================ */
   .main-header {
     width: 100%;
     margin: auto;
     background-color: #ddd;
   }

   .figure {
     margin: 0;
   }

   .logo {
     width:50%;
     margin: 0 auto;
     float: left;
     padding-left: 3%;
   }

 .logo img {
   max-width: 350px;
   margin: 0;
 }

   nav {
   width: 40%;
   margin: 0;
   text-align: center;
   float: left;
   }

   nav ul {
   list-style: none;
   padding: 20px 0;
   text-align: center
   }

   nav ul li {
   display: inline;
   padding: 0 2%;
   border: none;
   position: relative;
   }

   nav ul li a {
   font-size: 1em;
   text-transform: uppercase;
   color: #333;
   }

   i {
     padding-right: 5px;
   }

.faqs-item, .faqs-last-item {
  padding-left: 3%;
}

.faqs-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.faqs-last-item {
    padding-bottom: 20px;
}

.faqs-item h3 {
  padding-top: 20px;
}
/* FOOTER ================================ */
footer {
width: 100%;
margin: auto;
text-align: center;
clear: both;
border-top: 1px solid #cccccc;

}

footer img {
  width: 20%;
  padding-top: 40px;
  margin: auto;
}
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
